{% extends 'base.html' %}
<!-- <header> -->
{% block header %} {% include "header.html" %} {% endblock header %}
<!-- </header> done -->


{% block content %}
      
    <!--  Password reset  sent -->
    <div class="container chicken my -5 p-5">
        <div class="row justify-content-center ">
            <div class="col-10 col-sm-8 bg-warning text-white p-5">
                <h2 class=" bg-secondary  mt-3 text center py-3 px-5"> Password reset sent</h2>
                <hr>
                <p>
                    We have emailed to you the instructions for resetting your password,
                    if an account exists with the email you enetered.
                    You should reciece them shortly
                </p>
                <p>
                    If you dont receive an email,
                    Please make sure you have enetered the address you registered with,
                    and check you spam folder
                </p>

            </div>

        </div>

    </div>
{% endblock content %}
<!-- password reset sent -->