{% extends 'base.html' %}

{% block title %}Signin {% endblock title %}
<!-- header  -->
{% block header %} {% include 'header.html' %}{% endblock header %}
<!-- header  -->

{% block content %}

<div class="container chicken">
    <div class="turkey">
        <form class="form2">
            <h3>Sign in</h3>
            <div class="form-div">
                <label for="fname">User Name</label>
                <input type="text" class="fname" placeholder="Name or email" id="fname" itemid="fname" >
            </div>
            <div class="form-div">
                <label for="password">Password</label>
                <input type="password" class="inputag" placeholder="Password" id="password" itemid="password" >
                <div class="hide">
                    <i class="fa-solid fa-eye-slash"></i>
                    <i class="fa-solid fa-eye"></i>
                </div>
            </div>
            <div>
                
            </div>
            <div class="submit">
                <input type="submit" value="Sign in">
            </div>
        </form>
    </div>
</div>



{% endblock content %}


<!--- footer -->
{% block footer %} {% include 'footer.html' %}{% endblock footer %}
<!--- footer done -->