{% extends 'base.html' %}

{% block title %}Signin {% endblock title %}
<!-- header  -->
{% block header %} {% include 'header.html' %}{% endblock header %}
<!-- header  -->

{% block content %}

<div class="chicken">
    <div class="turkey">
        <form class="form1" action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <h1>Register</h1>
        <div class="form-div">
            <label for="fname">Username</label>
            <input type="text" class="fname" name="username" placeholder="First Name" id="fname" itemid="fname" >
        </div>
        <div class="form-div">
            <label for="fname">First Name</label>
            <input type="text" class="fname" name="first_name" placeholder="First Name" id="fname" itemid="fname" >
        </div>
        <div class="form-div">
            <label for="lname">Last Name</label>
            <input type="text" class="lname" name="last_name" placeholder="Last Name" id="lname" itemid="lname" >
        </div>
        <div class="form-div">
            <label for="email">Email</label>
            <input type="text" class="email" name="email" placeholder="xxxx@yyyy.com" id="email" itemid="email" >
        </div>
        <div class="form-div">
            <label for="Phone">Phone</label>
            <input type="text" class="phone" name="phone" placeholder="080xxxxxxxx" id="phone" itemid="phone" >
        </div>
        <div class="form-div">
            <label for="password">Password</label>
            <input type="hidden" name="image" value="dashboard/avatar.jpg">
            <input type="password" class="inputag" name="password1" placeholder="Password" id="password" itemid="password" >
            <div class="hide">
                <i class="fa-solid fa-eye-slash"></i>
                <i class="fa-solid fa-eye"></i>
            </div>
        </div>
        <div class="form-div">
            <label for="password">Confirm Password</label>
            <input type="password" class="input1" name="password2" placeholder="Confirm password" id="password" itemid="password" >

        </div>
        <div class="submit">
            <input type="submit" value="Register">
        </div>
        <div class="newhere1">
            <h5>Already have an account?</h5> 
            <a href="signin.html">Signin</a>
        </div>
        </form>
    </div>
</div>



{% endblock content %}


<!--- footer -->
{% block footer %} {% include 'footer.html' %}{% endblock footer %}
<!--- footer done -->